:root {
  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f3f3f3;
    background-color: #242424;
  }
}
